.main-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.test-cont {
  width: 800px;
}
.serv-main-box {
  border: 1px solid #0000001a;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 16px;
  z-index: 5;
  overflow: hidden;
  &::after {
    content: "";
    background-color: #32f9e2;
    width: 0px;
    height: 10px;
    position: absolute;
    bottom: 0;
    transition: width 1s;
    z-index: 2;
  }
  &:hover::after {
    width: 100%;
  }
  &:before {
    content: "";
    background-color: #0000001a;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 0;
    transition: width 1s;
    z-index: 1;
  }
}
.serv-box-wrappeer {
  padding: 30px;
}
img.simple-img {
  width: 80px;
  display: block;
  height: 80px;
  object-fit: contain;
}
img.anim-img {
  width: 80px;
  object-fit: contain;
  height: 80px;
  display: none;
}
.serv-main-box:hover img.simple-img {
  display: none;
}
.serv-main-box:hover img.anim-img {
  display: block;
}
.serv-box-content h3 {
  background: linear-gradient(180deg, #32f9e2 19.03%, #00cbbc 56.35%),
    radial-gradient(
        10.8% 10.8% at 48.64% 28.57%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.16) 83.5%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
  .serv-box-wrappeer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .serv-box-wrappeer h3,
  .serv-box-wrappeer p {
    text-align: center;
  }
}
